.center {
 margin-left: auto;
 margin-right: auto;
}

body { 
    background-color: #a5c0b2 ;
    font-family: 'Didact Gothic';font-size: 22px;
    margin: 10px;
    text-align: center;

}

h1{
    font-size: 160%;
    font-weight: bold;

}

h2 {
    font-size: 120%;
    font-weight: bold;
}

/* the results section should be initially invisible */
section#results {
    display: none;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;

}

table thead td {
    font-weight: bold;
    border: 2px solid rgb(200,200,200);
}

table td {
    /*border: 2px solid rgb(200,200,200); */
    padding: 10px 50px;
}

